.Container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  margin-top: 20px;

  &__row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__col{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.Green{
      background-color: green;
    }

    &.Red{
      background-color: red;
    }
  }
}
